*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

.main h1{
    margin-top: 20px;
    text-align: center;
}

.loginb{
    float: right;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: auto;
}

#img-div1, #img-div2{
    margin: 20px;
    width: 250px;
    text-align: center;
}

input[type='text'], input[type='password']{
    width: 87%;
    padding: 10px 10px 10px 5px;
}

input[type="submit"], input[type='button']{
    width: 30%;
    background-color: aqua;
    color: black;
    border: 1px solid white;
    padding: 5px ;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.avatar{
    margin: 0;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: calc(80% - 50%);
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px black inset !important;
}